.wc-eu-vat-checkout-uk-notice {
	padding-top: 10px;
	white-space: normal;
}

.eu-vat-extra-css > input {
	text-transform: uppercase;
}

.wc-eu-vat-checkout-ip-notice {

	.wc-eu-vat-checkout-ip-notice__error {
		margin-top: 1em;
	}
}
